<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :twitter, class: "form-control", placeholder: "Twitter" %>
  </div>
  <div class="mb-3">
  <%# id: :user_admin_id => for being specific%>
    <%= form.number_field :admin_id, id: :user_admin_id, class: "form-control", placeholder: "Admin Id", value: current_admin.id, type: :hidden %>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
